<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bankName</key>
		<string>Select Bank</string>
		<key>bankCode</key>
		<string>&quot;&quot;</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>AXIS Bank NetBanking</string>
		<key>bankCode</key>
		<string>AXIB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Andhra Bank</string>
		<key>bankCode</key>
		<string>ADBB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Bank of India</string>
		<key>bankCode</key>
		<string>BOIB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Bank of Maharashtra</string>
		<key>bankCode</key>
		<string>BOMB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Canara Bank</string>
		<key>bankCode</key>
		<string>CABB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Catholic Syrian Bank</string>
		<key>bankCode</key>
		<string>CSBN</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Central Bank Of India</string>
		<key>bankCode</key>
		<string>CBIB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Citibank Netbanking</string>
		<key>bankCode</key>
		<string>CITNB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>City Union Bank</string>
		<key>bankCode</key>
		<string>CUBB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Corporation Bank</string>
		<key>bankCode</key>
		<string>CRPB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Cosmos Bank</string>
		<key>bankCode</key>
		<string>CSMSNB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>DCB Bank - Corporate Netbanking</string>
		<key>bankCode</key>
		<string>DCBCORP</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Deutsche Bank</string>
		<key>bankCode</key>
		<string>DSHB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Development Credit Bank</string>
		<key>bankCode</key>
		<string>DCBB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Dhanlaxmi Bank</string>
		<key>bankCode</key>
		<string>DLSB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Federal Bank</string>
		<key>bankCode</key>
		<string>FEDB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>HDFC Bank</string>
		<key>bankCode</key>
		<string>HDFB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>ICICI Netbanking</string>
		<key>bankCode</key>
		<string>ICIB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>IDBI Bank</string>
		<key>bankCode</key>
		<string>IDBB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>ING Vysya Bank (now Kotak)</string>
		<key>bankCode</key>
		<string>INGB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Indian Bank</string>
		<key>bankCode</key>
		<string>INDB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Indian Overseas Bank</string>
		<key>bankCode</key>
		<string>INOB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>IndusInd Bank</string>
		<key>bankCode</key>
		<string>INIB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Jammu and Kashmir Bank</string>
		<key>bankCode</key>
		<string>JAKB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Janata Sahakari Bank Pune</string>
		<key>bankCode</key>
		<string>JSBNB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Karnataka Bank</string>
		<key>bankCode</key>
		<string>KRKB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Karur Vysya - Corporate Netbanking</string>
		<key>bankCode</key>
		<string>KRVBC</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Karur Vysya - Retail Netbanking</string>
		<key>bankCode</key>
		<string>KRVB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Kotak Mahindra Bank</string>
		<key>bankCode</key>
		<string>162B</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Lakshmi Vilas Bank - Corporate Netbanking</string>
		<key>bankCode</key>
		<string>LVCB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Lakshmi Vilas Bank - Retail Netbanking</string>
		<key>bankCode</key>
		<string>LVRB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Oriental Bank of Commerce</string>
		<key>bankCode</key>
		<string>OBCB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Punjab And Maharashtra Co-operative Bank Limited</string>
		<key>bankCode</key>
		<string>PMNB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Punjab And Sind Bank</string>
		<key>bankCode</key>
		<string>PSBNB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Punjab National Bank - Corporate Banking</string>
		<key>bankCode</key>
		<string>CPNB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Punjab National Bank - Retail Banking</string>
		<key>bankCode</key>
		<string>PNBB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Saraswat Bank</string>
		<key>bankCode</key>
		<string>SRSWT</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Shamrao Vithal Co-operative Bank Ltd.</string>
		<key>bankCode</key>
		<string>SVCNB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>South Indian Bank</string>
		<key>bankCode</key>
		<string>SOIB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>State Bank of Bikaner and Jaipur</string>
		<key>bankCode</key>
		<string>SBBJB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>State Bank of Hyderabad</string>
		<key>bankCode</key>
		<string>SBHB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>State Bank of India</string>
		<key>bankCode</key>
		<string>SBIB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>State Bank of Mysore</string>
		<key>bankCode</key>
		<string>SBMB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>State Bank of Patiala</string>
		<key>bankCode</key>
		<string>SBPB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>State Bank of Travancore</string>
		<key>bankCode</key>
		<string>SBTB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Syndicate Bank</string>
		<key>bankCode</key>
		<string>SYNDB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Tamilnad Mercantile Bank</string>
		<key>bankCode</key>
		<string>TMBB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>UCO Bank</string>
		<key>bankCode</key>
		<string>UCOB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Union Bank - Corporate Netbanking</string>
		<key>bankCode</key>
		<string>UBIBC</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Union Bank - Retail Netbanking</string>
		<key>bankCode</key>
		<string>UBIB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>United Bank Of India</string>
		<key>bankCode</key>
		<string>UNIB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Vijaya Bank</string>
		<key>bankCode</key>
		<string>VJYB</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>Yes Bank</string>
		<key>bankCode</key>
		<string>YESB</string>
	</dict>
</array>
</plist>
