<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>My Orders</string>
		<key>subTitle</key>
		<string>Manage, Track, Cancel &amp; More</string>
		<key>icon</key>
		<string>myOrder</string>
	</dict>
	<dict>
		<key>title</key>
		<string>My Wallet</string>
		<key>subTitle</key>
		<string>Wallet Balance Rs. </string>
		<key>icon</key>
		<string>myWallet</string>
	</dict>
	<dict>
		<key>title</key>
		<string>My Info</string>
		<key>subTitle</key>
		<string>View &amp; Edit my info</string>
		<key>icon</key>
		<string>card</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Notification</string>
		<key>subTitle</key>
		<string>Notification</string>
		<key>icon</key>
		<string>notification</string>
	</dict>
</array>
</plist>
